@*@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>详情页</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>

</head>
<body >
    <text id="allMovie" hidden="hidden">@ViewBag.movie
    </text>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <br><br /><br />
                <text id="newestComments" hidden="hidden" >
                    @ViewBag.newestComments
                </text>
            </div>
        </div>
        <!--添加，删除，修改电影信息的按钮-->
        <div class="row">
            <div class="col-lg-3">
                <button class="btn btn-default" onclick="AddFilm()">添加电影</button>
            </div>
            <div class="col-lg-3">
                <button class="btn btn-default" onclick="DeleteFilm()">删除电影</button>
            </div>
            <div class="col-lg-3">
                <button class="btn btn-default" onclick="EditFilm()">修改电影</button>
            </div>
        </div>
        <!--    设置格式与id-->
        <!--    电影名-->
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <h2 id="filmName">hell</h2>
            </div>
            <div class="col-lg-3"></div>
        </div>
        <!--    图片与零碎信息-->
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-3">
                <img src="IronMan.jpg" class="img-rounded"  onerror="this.src='../../image/movie5.jpg'" id="image" height="300" width="200" />

            </div>
            <div class="col-lg-5">
                <h4>
                    <span class="label label-info">导演</span>
                    <span id="director"></span>
                </h4>

                <h4>
                    <span class="label label-info">编剧</span>
                    <span id="writer"></span>
                </h4>

                <h4>
                    <span class="label label-info">主演</span>
                    <span id="cast"></span>
                </h4>

                <h4>
                    <span class="label label-info">类型</span>
                    <span id="genres"></span>
                </h4>

                <h4>
                    <span class="label label-info">制片国家/地区</span>
                    <span id="country"></span>
                </h4>

                <h4>
                    <span class="label label-info">语言</span>
                    <span id="language"></span>
                </h4>

                <h4>
                    <span class="label label-info">上映日期</span>
                    <span id="date"></span>
                </h4>

                <h4>
                    <span class="label label-info">片长</span>
                    <span id="duration"></span>
                </h4>

            </div>
            <div class="col-lg-2"></div>
        </div>

        <div class="row">
            <div class="col-lg-2"> </div>
            <div class="col-lg-8">
                <br>
                <h2>剧情简介</h2>
                <p id="abstract"></p>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row">
            <div class="col-lg-3"> </div>
            <div class="col-lg-6">
                <span class="label label-info">输入评分</span>
                <input type="text" id="myRate" placeholder="当前分数/10" class="form-control" style="width:250px;height:30px">
                <br />
                <span class="label label-info">输入短评</span>
                <textarea class="form-control" id="myComment" rows="6" style="min-width:40%" placeholder="请输入短评。。。"></textarea>
                <button class="btn btn-default" onclick="SubmitComment()">提交评价</button>
            </div>
            <div class="col-lg-3"></div>
        </div>
       <div class="row" id="detail">
           <div class="col-md-12"><h3>最新评论</h3></div>
           <div class="col-md-12" v-for="one in comment">
               <h5 class="page-header"></h5>
               <div class="row" style="background-color:lightgray;border-radius:10px">
                   <div class="col-md-3" style="color:orangered">电影：{{one.film}}</div>
                   <div class="col-md-2">
                       用户<span style="color:orangered">{{one.user}}</span>给出了{{one.rate}}的评分
                   </div>
                   <div class="col-md-7">{{one.content}}</div>
               </div>
           </div>
       </div>
    </div>

    <script>


        //读取处理json文件
        var temp1 = document.getElementById("allMovie").innerHTML;
        var temp2 = JSON.parse(temp1);
        var temp = temp2[0]
        //mJson = $.ajax({ url: "test.json", async: false });
        //var temp = JSON.parse(mJson.responseText);
        //var loc = location.href;
        //var n1 = loc.length;//地址的总长度
        //var n2 = loc.indexOf("=");//取得=号的位置
        //var id = decodeURI(loc.substr(n2 + 1, n1 - n2));//从=号后面的内容

        //console.log(id);
        //var detailNum = Number(id);
        console.log(temp.summary);
        var str_temp = "";
        document.getElementById("filmName").innerHTML = temp.title;

        document.getElementById("image").src = temp.poster;

        for (var i = 0; i < temp.directors.length; i++) {
            str_temp = str_temp + temp.directors[i].name + "&nbsp&nbsp";
        }
        document.getElementById("director").innerHTML = str_temp;

        var str_temp = "";
        for (var i = 0; i < temp.writers.length; i++) {
            str_temp = str_temp + temp.writers[i].name + "&nbsp&nbsp";
        }
        document.getElementById("writer").innerHTML = str_temp;

        var str_temp = "";
        for (var i = 0; i < temp.casts.length; i++) {
            str_temp = str_temp + temp.casts[i].name + "&nbsp&nbsp";
        }
        document.getElementById("cast").innerHTML = str_temp;

        var str_temp = "";
        for (var i = 0; i < temp.genres.length; i++) {
            str_temp = str_temp + temp.genres[i] + "&nbsp&nbsp";
        }
        document.getElementById("genres").innerHTML = str_temp;

        var str_temp = "";
        for (var i = 0; i < temp.countries.length; i++) {
            str_temp = str_temp + temp.countries[i] + "&nbsp&nbsp";
        }
        document.getElementById("country").innerHTML = str_temp;

        var str_temp = "";
        for (var i = 0; i < temp.languages.length; i++) {
            str_temp = str_temp + temp.languages[i] + "&nbsp&nbsp";
        }
        document.getElementById("language").innerHTML = str_temp;

        var str_temp = "";
        for (var i = 0; i < temp.pubdate.length; i++) {
            str_temp = str_temp + temp.pubdate[i] + "&nbsp&nbsp";
        }
        document.getElementById("date").innerHTML = str_temp;

        document.getElementById("duration").innerHTML = (temp.duration + "分钟");

        document.getElementById("abstract").innerHTML = temp.summary;

        function AddFilm() {
            var userName = document.getElementById('userName').innerHTML
            if (userName == '') {
                alert('未登录，无操作权限')
                return
            }
            location.href = "/Film/AddFilm?name=" + document.getElementById('userName').innerHTML;
        }
        function DeleteFilm() {
            var userName = document.getElementById('userName').innerHTML
            if (userName == '') {
                alert('未登录，无操作权限')
                return
            }
            location.href = "/Film/DeleteFilm?title=" + temp.title+ "&name=" + document.getElementById('userName').innerHTML
        }
        function EditFilm() {
            var userName = document.getElementById('userName').innerHTML
            if (userName == '') {
                alert('未登录，无操作权限')
                return
            }
            location.href = "/Film/UpdateFilm?title=" + temp.title+ "&name=" + document.getElementById('userName').innerHTML
        }
        function SubmitComment() {
            var userName = document.getElementById('userName').innerHTML
            if (userName == '') {
                alert('未登录，无操作权限')
                return
            }
            location.href = "/Film/FilmDetailCommentOver?name=" + document.getElementById('userName').innerHTML
                + "&title=" + temp.title
                + "&commentContent=" + document.getElementById("myComment").value
                + "&rate=" + document.getElementById("myRate").value;
        }
    </script>

</body>

</html>
<script>
    var detail = new Vue({
        el: '#detail',
        data: {
            comment: JSON.parse(document.getElementById('newestComments').innerHTML),
        },
        methods: {
     
        }
    })
</script>
